    body {
        background-color: aliceblue;
    }
    
    .jumbotron {
        background-image: url("mountains.png");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 60px;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 5px darkslategrey;
        font-family: 'Inconsolata';
        margin-top: -40px;
    }
    
    #currentDay {
        font-size: 40px;
        font-family: 'Inconsolata';
    }
    
    .container {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15PX;
        background-color: rgb(175, 173, 173);
        color: white;
    }
    
    .hour {
        margin-top: 20px;
        font-family: 'Inconsolata';
    }
    /*different colors for the time of the day*/
    
    .past {
        background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    .present {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15PX;
        background-color: rgb(175, 173, 173);
    }
    
    .future {
        background-color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    /*style for the save button*/
    
    .saveBtn {
        border-left: black;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: rgb(175, 173, 173);
        color: white;
    }
    
    .saveBtn i:hover {
        font-size: 50px;
        transition: all .1s ease-in-out;
        color: green;
    }