    html body {
        width: 100%;
        height: 100%;
    }
    
    body {
        background-color: aliceblue;
    }
    
    .jumbotron {
        background-image: url("mountains.png");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 60px;
        color: black;
        text-shadow: 2px 2px 5px darkslategrey;
        font-family: 'Inconsolata';
        margin-top: -60px;
    }
    
    .container {
        font-size: 15PX;
        background-color: white;
        font-family: 'Inconsolata';
    }
    
    .saveBtn {
        border-left: 1px solid black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #06AED5;
        color: white;
    }
    
    .saveBtn i:hover {
        font-size: 20px;
        transition: all .3s ease-in-out;
    }